.header {
  display: block;
  height: 50px;
  background-color: #FDFDF9;
}
.header h2 {
  margin: 10px 0 0 0;
}
.nav.navbar {
  margin-bottom: 0px;
}
.nav-pills li a {
  font-size: 20px;
  margin-top: 5px;
  margin-left: 5px;
}
.nav li a:hover, .nav li a:focus {

}
.heroImage {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
